<header>
    <div>
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo de la société Stubborn">
        </a>
        <p>Don't compromise on your look</p>
    </div>
    <nav>
        <ul>
            <li><a class="home" href="{{ path('app_home') }}">Accueil</a></li>
            {% if app.user %}
            <li><a class="shop" href="{{ path('app_all_products') }}">Boutique</a></li>
            <li><a class="cart" href="{{ path('app_cart') }}">Panier</a></li>
            {% endif %}
            {% if not app.user %}
                <li><a class="registration" href="{{ path('app_register') }}">S'inscrire</a></li>
                <li><a class="login" href="{{ path('app_login') }}">Se connecter</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a class="admin" href="{{ path('app_back_office') }}">Back-Office</a></li>
            {% endif %}
            {% if app.user %}
                <li><a class="logout" href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </nav>
</header>